@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.header{
  background-color: #111D4A;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Dancing Script', cursive;
}

.update{
  display: flex;
  justify-content: space-between;
  background-color: #111D4A;
  color: #ffff;
  padding: 10px;
  margin: 15px;
  margin-bottom: 25px;
  font-family: 'Dancing Script', cursive;
}

